.env
/alembic/README
/alembic/script.py.mako

.config.yaml
# macOS specific
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment files
*.env
.env
.venv

# Logs
*.log

# Other temporary files
*.swp
*.swoconfig.yaml
config.yaml
uv.lock
.python-version